@charset "UTF-8";

/*///////////////////////////////////////////////*/

.login_title{
	width: 400px; height: 130px;
	padding-bottom: 50px;
	display: flex; justify-content: center;
}

.login_title_img{
	width: 250px; height: 80px;
}

.login_title_img:hover{
	filter: invert(15%);
}

/*///////////////////////////////////////////////*/

.container_help{
	margin:107px auto 0; height: 754px; width: 1440px;
	box-sizing: border-box;
}

.content_lg{
	display: flex;
	justify-content: center;
	width: 1280px; height: 754px;
	padding-left: 40px; padding-right: 40px;
	margin-left: 80px; margin-right: 80px;
}

.help_area{
	width: 400px; height: 754px;
	padding-top: 60px; padding-bottom: 160px;
	margin-left: 400px; margin-right: 400px;
}

.help_main{
	width: 400px; height: 360px;
}

/*///////////////////////////////////////////////*/

.help_title{
	display: flex; justify-content: center;
	padding-bottom: 41px; height: 81px;
	font-size: 32px; font-weight: 600;
	border-bottom: 2px solid #a5d4b0;
}

/*///////////////////////////////////////////////*/

.help_notice{
	width: 400px; height: 92px;
	padding-top: 28px; padding-bottom: 26px;
	border-bottom: 2px solid #a5d4b0;
}

.notice_txt{
	font-size: 14px;
	letter-spacing: -.21px; font-weight: 500;
}

/*///////////////////////////////////////////////*/

.input_box{
	width: 400px; height: 81px;
	padding-top: 10px; padding-bottom: 14px;
}

.input_title{
	font-size: 13px;
    letter-spacing: -.07px;
    line-height: 18px;
}

.input_item{
	position: relative;
}

.input_txt{
	width: 100%;
	font-size: 13px;
    letter-spacing: -.15px;
    line-height: 22px;
    padding: 8px 0;
	border-bottom: 1px solid #ebebeb;
	outline: 0;
}

.input_txt:focus {
  	color: white;
	background: #a5d4b0;
	border-radius: 10px;
	height: 30px; margin-top: 8px;
	font-weight: 700;
	border: #CEF6F5 solid 1px;
}

/*///////////////////////////////////////////////*/

.help_btn_box{
	width: 400px; height: 72px;
	padding-top: 20px;
}

.help_box{
	width: 400px; height: 52px;
	background-color: #a5d4b0;
	font-size: 16px; font-weight: 700; color: white;
	border-radius: 10px; cursor: pointer;
}

.help_box:hover{
	background-color: white;
	color: #a5d4b0;
	border: #a5d4b0 solid 2px;
}