<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/sign/find_email_after.css">
	<link rel="stylesheet" href="/css/common/common.css">
</head>
<body>
<main>
	<h1>메인섹션</h1>
	<div class="container_help">
		<div class="content_lg">
			<div class="help_area">
				<div class="login_title">
					<div class="login_title_img"><a href="/"><img src="/images/logo.png"></a></div>
				</div>
				<div class="help_email_after_main">
					<div class="help_email_success">이메일 찾기에 성공하였습니다.</div>
					<div class="success_notice">
						<div>
							<div class="notice_title">이메일 주소</div>
							<div class="notice_txt">[이메일 조회 출력]</div>
						</div>
					</div>
					<div class="success_btn_box">
						<a href="/find_password"><button type="button" class="help_box_pass">비밀번호 찾기</button></a>
						<a href="/login"><button type="button" class="help_box_login">로그인</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>