<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/sign/find_password_after.css">
	<link rel="stylesheet" href="/css/common/common.css">
</head>
<body>
<main>
	<h1>메인섹션</h1>
	<div class="container_help">
		<div class="content_lg">
			<div class="help_area">
				<div class="login_title">
					<div class="login_title_img"><a href="/login"><img src="/images/logo.png"></a></div>
				</div>
				<div class="help_pass_after_main">
					<div class="pass_after_top">
						<div class="notice_txt">
							임시 비밀번호를 전송하였습니다.
							<br>전송 받은 임시 비밀번호로 로그인 해주세요
						</div>
					</div>
					<div class="pass_after_bot">
						<a href="/login"><input type="submit" value="로그인" class="login_box"></input></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
</body>
</html>	